
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="renderer" content="webkit">
        <title>
        全思科技 | 更懂非营利组织的互联网团队，用心助力公益</title>
                <meta name="keywords" content="公益网站建设,慈善平台开发,慈善募捐平台,公益机构官网">
        <meta name="description" content="我们一直专注于非营利领域，敏锐捕捉行业的需求痛点，以互联网优秀技术助力公益，为公益伙伴创造更大成效">
        <link rel='dns-prefetch' href='//s.w.org' />
<link rel='https://api.w.org/' href='https://www.quansitech.com/wp-json/' />
<link rel="alternate" type="application/json+oembed" href="https://www.quansitech.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.quansitech.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.quansitech.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.quansitech.com%2F&#038;format=xml" />
        <script src="https://use.typekit.net/vfp2ocz.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="https://www.quansitech.com/wp-content/themes/t4t/css/swiper.min.css" />
        <link rel="stylesheet" href="https://www.quansitech.com/wp-content/themes/t4t/css/style.css" />
        <script src="https://www.quansitech.com/wp-content/themes/t4t/static/js/jquery.min.js"></script>
        <script src="https://www.quansitech.com/wp-content/themes/t4t/static/js/swiper.jquery.min.js"></script>
    </head>
    <body>
        <div id="header">
            <div class="container">
                <div class="logo-wrap">
                    <a href="https://www.quansitech.com">
                        <img class="logo" src="https://www.quansitech.com/wp-content/uploads/2017/11/20171128082720929.png" alt="logo">
                        <img class="logo active" src="https://www.quansitech.com/wp-content/uploads/2017/11/20171128082731941.png" alt="logo">
                    </a>
                </div>
                
                <div class="menu">
                    <ul id="topNav" class=""><li id="menu-item-1518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-469 current_page_item menu-item-1518"><a href="https://www.quansitech.com/">首页</a></li>
<li id="menu-item-1519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1519"><a href="https://www.quansitech.com/about/">关于</a></li>
<li id="menu-item-1765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1765"><a href="https://www.quansitech.com/service/official-website/">服务</a></li>
<li id="menu-item-1767" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1767"><a href="/case/">作品</a></li>
<li id="menu-item-2746" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2746"><a href="https://www.quansitech.com/category/news/">资讯</a></li>
<li id="menu-item-1766" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1766"><a href="https://www.quansitech.com/contact/">联络</a></li>
</ul>                </div>
            </div>
        </div>    <div id="home-banner">
        <img src="https://www.quansitech.com/wp-content/uploads/2017/12/20171228133738675.jpg">
        <div class="container" data-scroll-reveal>
            <h1>更懂非营利组织的互联网团队<br />
用心助力公益</h1>
        </div>
    </div>
    <div id="home-about" class="wrapper">
        <div class="container">
            <h1 class="panel-title render-mg" data-component="text" data-scroll-reveal>
                关于我们
            </h1>
            <div class="desc render-mg" data-component="textarea" data-scroll-reveal>我们一直专注于非营利领域，敏锐捕捉行业的需求痛点，以互联网优秀技术助力公益，为公益伙伴创造更大成效。</div>
            <div class="list" data-scroll-reveal>
                                <div class="item">
                    <img class="render-mg" data-component="image" src="https://www.quansitech.com/wp-content/uploads/2017/11/20171128101146844.png">
                    <h2 class="" data-component="text">生于非营利，更懂非营利</h2>
                    <p>
                                            </p>
                </div>
                                <div class="item">
                    <img class="" data-component="image" src="https://www.quansitech.com/wp-content/uploads/2017/11/20171128101151998.png">
                    <h2 class="" data-component="text">紧跟互联网设计及技术趋势</h2>
                    <p>
                                            </p>
                </div>
                                <div class="item">
                    <img class="" data-component="image" src="https://www.quansitech.com/wp-content/uploads/2017/11/20171128101152534.png">
                    <h2 class="" data-component="text">完善的一站式服务流程</h2>
                    <p>
                                            </p>
                </div>
                                <div class="item">
                    <img class="" data-component="image" src="https://www.quansitech.com/wp-content/uploads/2017/11/20171128101153101.png">
                    <h2 class="" data-component="text">追求高品质的服务宗旨</h2>
                    <p>
                                            </p>
                </div>
                            </div>
        </div>
    </div>
    <div id="home-service" class="wrapper">
        
        <div class="container">
            <h1 class="panel-title" data-scroll-reveal>
                <span class="" data-component="text" >我们的服务</span>
            </h1>
            <div class="desc" data-scroll-reveal>我们能帮助公益组织更好地解决信息发布、项目管理、募捐筹款及志愿参与等需求。</div>
            <div class="list" data-scroll-reveal>
                                <a href="https://www.quansitech.com/service/official-website/" class="item" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2017/11/20171129011942444.jpg)">
                    <div class="content">
                        <h2>机构品牌官网</h2>
                        <p>简洁易用、能同时适配电脑和手机端</p>
                    </div>
                    <div class="image">
                        <img class="" data-component="image" src="https://www.quansitech.com/wp-content/uploads/2017/12/20171226022616181.png">
                    </div>                 
                </a>
                                    <a href="https://www.quansitech.com/service/charity-fundraising-platform/" class="item" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2017/11/2017112901194338.jpg)">
                    <div class="content">
                        <h2>慈善募捐平台</h2>
                        <p>公募型机构的募捐筹款平台</p>
                    </div>
                    <div class="image">
                        <img src="https://www.quansitech.com/wp-content/uploads/2017/12/20171226022616808.png">
                    </div>                 
                </a>
                                    <a href="https://www.quansitech.com/service/activity-fundraising-platform/" class="item" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2017/11/20171129011943615.jpg)">
                    <div class="content">
                        <h2>公益筹款平台</h2>
                        <p>公众报名与项目募捐的参与平台</p>
                    </div>
                    <div class="image">
                        <img src="https://www.quansitech.com/wp-content/uploads/2017/12/20171226022617378.png">
                    </div>                 
                </a>
                                    <a href="https://www.quansitech.com/service/library-platform/" class="item" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2017/11/20171129011944202.jpg)">
                    <div class="content">
                        <h2>图书馆信息平台</h2>
                        <p>为中小图书馆定制的轻量级解决方案</p>
                    </div>
                    <div class="image">
                        <img src="https://www.quansitech.com/wp-content/uploads/2017/12/20171226022617870.png">
                    </div>                 
                </a>
                                </div>
        </div>
    </div>
    <div id="home-case" class="wrapper">
        
        <div class="container">
            <h1 class="panel-title" data-scroll-reveal>
                <span>我们的作品</span>
            </h1>
            <div class="desc" data-scroll-reveal>站在公益伙伴的立场，用心对待每一个项目，我们完成了一个又一个的好作品。</div>
        </div>
        <div class="list" data-scroll-reveal>
                        <div class="item">
                <div class="item_wrap">
                    <a href="https://www.quansitech.com/case/chruyuan/">
                        <div class="bg">
                            <img src="https://www.quansitech.com/wp-content/uploads/2020/06/20200611034045527.jpg" width="436" height="280" alt="">
                        </div>
                                                <div class="image case_multi">
                            <img src="https://www.quansitech.com/wp-content/themes/t4t/images/case_multi.png" alt="">
                            <div class="image_wrap" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2020/06/20200611034102251.jpg)"></div>
                            <div class="image_wrap_mobile" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2020/06/20200611034054262.jpg)"></div>
                        </div>
                                                <div class="content">
                            <h2>如愿行动微心愿众扶互助平台</h2>
                            <p><a href="https://www.quansitech.com/case_type/activity-fundraising-platform/" rel="tag">公益筹款平台</a>、<a href="https://www.quansitech.com/case_type/multi-device/" rel="tag">多设备适配</a>、<a href="https://www.quansitech.com/case_type/wechat/" rel="tag">微信端网站</a></p>
                        </div>
                    </a>
                </div>
            </div>
                        <div class="item">
                <div class="item_wrap">
                    <a href="https://www.quansitech.com/case/nanduguancha/">
                        <div class="bg">
                            <img src="https://www.quansitech.com/wp-content/uploads/2020/06/20200611032717404.jpg" width="436" height="280" alt="">
                        </div>
                                                <div class="image case_multi">
                            <img src="https://www.quansitech.com/wp-content/themes/t4t/images/case_multi.png" alt="">
                            <div class="image_wrap" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2020/06/20200611033005803.jpg)"></div>
                            <div class="image_wrap_mobile" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2020/06/20200611033212784.jpg)"></div>
                        </div>
                                                <div class="content">
                            <h2>南都观察</h2>
                            <p><a href="https://www.quansitech.com/case_type/multi-device/" rel="tag">多设备适配</a>、<a href="https://www.quansitech.com/case_type/wechat/" rel="tag">微信端网站</a>、<a href="https://www.quansitech.com/case_type/other/" rel="tag">其他</a></p>
                        </div>
                    </a>
                </div>
            </div>
                        <div class="item">
                <div class="item_wrap">
                    <a href="https://www.quansitech.com/case/swuplgd/">
                        <div class="bg">
                            <img src="https://www.quansitech.com/wp-content/uploads/2020/06/20200611030957362.jpg" width="436" height="280" alt="">
                        </div>
                                                <div class="image case_multi">
                            <img src="https://www.quansitech.com/wp-content/themes/t4t/images/case_multi.png" alt="">
                            <div class="image_wrap" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2020/06/20200611030643684.jpg)"></div>
                            <div class="image_wrap_mobile" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2020/06/20200611030527764.jpg)"></div>
                        </div>
                                                <div class="content">
                            <h2>广东西政校友会</h2>
                            <p><a href="https://www.quansitech.com/case_type/official-website/" rel="tag">机构品牌官网</a></p>
                        </div>
                    </a>
                </div>
            </div>
                        <div class="item">
                <div class="item_wrap">
                    <a href="https://www.quansitech.com/case/mutianbook/">
                        <div class="bg">
                            <img src="https://www.quansitech.com/wp-content/uploads/2020/03/20200331063258842.jpg" width="436" height="280" alt="">
                        </div>
                                                <div class="image case_phone">
                            <img src="https://www.quansitech.com/wp-content/themes/t4t/images/case_phone.png" alt="">
                            <div class="image_wrap" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2020/03/2020033106381991.jpg)"></div>
                        </div>
                                                <div class="content">
                            <h2>幕天捐书小程序</h2>
                            <p><a href="https://www.quansitech.com/case_type/activity-fundraising-platform/" rel="tag">公益筹款平台</a>、<a href="https://www.quansitech.com/case_type/miniapp/" rel="tag">小程序</a></p>
                        </div>
                    </a>
                </div>
            </div>
                        <div class="item">
                <div class="item_wrap">
                    <a href="https://www.quansitech.com/case/hometown-postcard/">
                        <div class="bg">
                            <img src="https://www.quansitech.com/wp-content/uploads/2020/03/20200331071147454.jpg" width="436" height="280" alt="">
                        </div>
                                                <div class="image case_phone">
                            <img src="https://www.quansitech.com/wp-content/themes/t4t/images/case_phone.png" alt="">
                            <div class="image_wrap" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2020/03/20200331071450996.jpg)"></div>
                        </div>
                                                <div class="content">
                            <h2>真爱梦想明信片小程序</h2>
                            <p><a href="https://www.quansitech.com/case_type/miniapp/" rel="tag">小程序</a></p>
                        </div>
                    </a>
                </div>
            </div>
                        <div class="item">
                <div class="item_wrap">
                    <a href="https://www.quansitech.com/case/baite/">
                        <div class="bg">
                            <img src="https://www.quansitech.com/wp-content/uploads/2019/11/2019112207481415.jpg" width="436" height="280" alt="">
                        </div>
                                                <div class="image case_multi">
                            <img src="https://www.quansitech.com/wp-content/themes/t4t/images/case_multi.png" alt="">
                            <div class="image_wrap" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2019/11/20191122075208763.jpg)"></div>
                            <div class="image_wrap_mobile" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2019/11/20191122075216624.jpg)"></div>
                        </div>
                                                <div class="content">
                            <h2>佰特教育</h2>
                            <p><a href="https://www.quansitech.com/case_type/official-website/" rel="tag">机构品牌官网</a>、<a href="https://www.quansitech.com/case_type/multi-device/" rel="tag">多设备适配</a>、<a href="https://www.quansitech.com/case_type/wechat/" rel="tag">微信端网站</a></p>
                        </div>
                    </a>
                </div>
            </div>
                        <div class="item">
                <div class="item_wrap">
                    <a href="https://www.quansitech.com/case/shanshui/">
                        <div class="bg">
                            <img src="https://www.quansitech.com/wp-content/uploads/2019/11/20191111150251265.jpg" width="436" height="280" alt="">
                        </div>
                                                <div class="image case_multi">
                            <img src="https://www.quansitech.com/wp-content/themes/t4t/images/case_multi.png" alt="">
                            <div class="image_wrap" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2019/11/20191111150236731.jpg)"></div>
                            <div class="image_wrap_mobile" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2019/11/20191111150244283.jpg)"></div>
                        </div>
                                                <div class="content">
                            <h2>山水自然保护中心</h2>
                            <p><a href="https://www.quansitech.com/case_type/official-website/" rel="tag">机构品牌官网</a>、<a href="https://www.quansitech.com/case_type/multi-device/" rel="tag">多设备适配</a>、<a href="https://www.quansitech.com/case_type/wechat/" rel="tag">微信端网站</a></p>
                        </div>
                    </a>
                </div>
            </div>
                        <div class="item">
                <div class="item_wrap">
                    <a href="https://www.quansitech.com/case/sits-ierc/">
                        <div class="bg">
                            <img src="https://www.quansitech.com/wp-content/uploads/2019/10/20191022013210683.jpg" width="436" height="280" alt="">
                        </div>
                                                <div class="image case_multi">
                            <img src="https://www.quansitech.com/wp-content/themes/t4t/images/case_multi.png" alt="">
                            <div class="image_wrap" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2019/10/20191022013457557.jpg)"></div>
                            <div class="image_wrap_mobile" style="background-image:url(https://www.quansitech.com/wp-content/uploads/2019/10/20191022013544466.jpg)"></div>
                        </div>
                                                <div class="content">
                            <h2>广外高翻口译教育与研究中心</h2>
                            <p><a href="https://www.quansitech.com/case_type/multi-device/" rel="tag">多设备适配</a>、<a href="https://www.quansitech.com/case_type/wechat/" rel="tag">微信端网站</a>、<a href="https://www.quansitech.com/case_type/other/" rel="tag">其他</a></p>
                        </div>
                    </a>
                </div>
            </div>
                    </div>
        <div class="more text-center" data-scroll-reveal>
            <a class="btn-blue" href="https://www.quansitech.com/case/">查看更多作品</a>
        </div>
    </div>
    <div id="home-contact" class="wrapper">
        
        <div class="container">
            <h1 class="panel-title" data-scroll-reveal>
                <span>联系我们</span>
            </h1>
            <div class="desc" data-scroll-reveal>如果您有需求，为什么不试着联系一下呢？我们将为您解答关于网站的疑惑，给出专业的互联网方案。</div>
            <div class="list" data-scroll-reveal>
                <div class="item">
                    <div class="image">
                        <img src="https://www.quansitech.com/wp-content/themes/t4t/images/tel.png">
                    </div>
                    <div class="content">
                        <p>020-89053930</p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://www.quansitech.com/wp-content/themes/t4t/images/email.png">
                    </div>
                    <div class="content">
                        <p>aeven@quansitech.com</p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://www.quansitech.com/wp-content/themes/t4t/images/address.png">
                    </div>
                    <div class="content">
                        <p>广州市海珠区广州大道南448号财智大厦1302室</p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://www.quansitech.com/wp-content/themes/t4t/images/wechat.png">
                    </div>
                    <div class="content">
                        <p>微信公众号<br>全思科技</p>
                        <a class="code-icon" href="https://www.quansitech.com/wp-content/uploads/2017/12/20171224064556250.jpg"><img src="https://www.quansitech.com/wp-content/themes/t4t/images/code-icon.png"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="https://github.com/quansitech" target="_blank">
                        <div class="image">
                            <img src="https://www.quansitech.com/wp-content/themes/t4t/images/github.png">
                        </div>
                        <div class="content">
                            <p>GitHub：quansitech</p>
                        </div>
                    </a>
                </div>
            </div>
            <div id="map" style="width:100%;height:300px;margin-top:40px;" data-scroll-reveal></div>
                    </div>
    </div>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ImFxTQX8eUWc3WZIgwjHVPOdHNyfpguO"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <script type="text/javascript">
		// 百度地图API功能
		var map = new BMap.Map("map");    // 创建Map实例
		var point = new BMap.Point(113.321232,23.102672);
		map.centerAndZoom(point, 17);
		// map.addControl(new BMap.NavigationControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT}));
		// map.addControl(new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT}));
		var myIcon = new BMap.Icon("https://www.quansitech.com/wp-content/themes/t4t/images/marker.png", new BMap.Size(62,82));
		var marker = new BMap.Marker(point,{icon:myIcon});  // 创建标注
		map.addOverlay(marker);               // 将标注添加到地图中
    </script>
    
    <link href="https://www.quansitech.com/wp-content/themes/t4t/static/lib/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <script src="https://www.quansitech.com/wp-content/themes/t4t/static/lib/magnific-popup/magnific-popup.js"></script>
    <script>
        $(function () {
            $('a.code-icon').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-img-mobile',
                image: {
                    verticalFit: true
                }
            });
        });
    </script>
 <div id="footer">
    <div class="container">
        <div class="bottom-area clearfix">
            <div class="copyright">Copyright © 2015-2020 广州全思信息科技有限公司 All Rights Reserved.</div>
            <div class="other">
                <a href="http://beian.miit.gov.cn" target="_blank">粤ICP备16016566号</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://www.quansitech.com" target="_blank">技术支持：全思科技</a>
            </div>
        </div>
    </div>
</div>
<script src="https://www.quansitech.com/wp-content/themes/t4t/static/js/scrollReveal.js"></script>
<script>
    function headerClass() {
        var scrollTop = $(document).scrollTop();
        if(scrollTop > 100){
            $('#header').addClass('active');
        }else{
            $('#header').removeClass('active');
        }
    }
    (function () {
        if(!$('.contact').length && !$('.single').length){
            window.scrollReveal = new scrollReveal();
            $(window).on('scroll',headerClass);
            headerClass();
        }
        else{
            $('#header').addClass('active');
        }
        
    })();
</script>
<script type='text/javascript' src='https://www.quansitech.com/wp-includes/js/wp-embed.min.js?ver=4.9.12'></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ebbf927895e724880300a169b171766e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

new window.QscmfWYSIWYG();
</script>
</body>
</html>