textarea.ant-input{
    width: 800px;
}
input.ant-input{
    width:400px;
}
.anticon.anticon-upload{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
}